@import "../../index.scss";

.card {
  border: 1px solid $myBlack;
  background: $myGrey;
  margin: 2rem 3rem;
  padding: 1rem 0.5rem;
  h3 {
    text-transform: uppercase;
    color: $myGreen;
  }
  h4 {
    text-transform: capitalize;
    margin: 0.2rem 0 0.6rem 0;
  }
  h5 {
    text-transform: capitalize;
    color: $myGreen;
    span {
      font-size: 1.2rem;
      margin: 0.5rem;
      cursor: pointer;
    }
  }
}
